.footer-react {
  background-color: #1f1f1f;
  color: #ddd;
  padding: 10px 15px; /* ↓ Reducido */
  margin-top: 40px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
}

.footer-social {
  margin-bottom: 15px;
}

.footer-social a {
  color: #ddd;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #f561c5; /* tono rosado, puedes cambiarlo */
}

.footer-legal p {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}
