.custom-navbar {
  background: linear-gradient(to right, #3dacd2, #5ec0e2);
  padding: 0.5rem 1rem;
}

.nav-btn {
  background-color: white !important;
  border-radius: 50px !important; /* forma ovalada */
  padding: 8px 20px;
  font-weight: bold;
  text-decoration: none;
  color: #3dacd2;
  border: none;
  transition: all 0.3s ease;
  z-index: 1; /* Asegura que los botones estén por encima de otros elementos */
}

.nav-btn:hover {
  background-color: #f1f1f1;
  color: #2d8da6;
}

