/* Perfil */
.user-profile-card {
  width: 100%;
  max-width: 650px; /* Ancho máximo */
  height: 550px; /* Altura del componente */
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: none;
  margin: 0 auto;
  padding-bottom: 30px; /* Más espacio al fondo */
}

/* Header del perfil */
.profile-header {
  background-color: #3b5998; /* Color de fondo */
  color: white;
  padding: 40px 20px; /* Espacio más amplio para que el nombre sea visible */
  text-align: center;
  font-weight: bold;
  font-size: 32px; /* Aumentamos el tamaño del texto */
  word-wrap: break-word; /* Asegura que el nombre no se corte */
}

/* Imagen del perfil */
.profile-img-container {
  margin-top: -80px; /* Ajustamos la posición de la imagen */
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 150px; /* Imagen más grande */
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
  object-fit: cover;
}

/* Información del perfil */
.profile-info {
  padding: 30px; /* Más espacio en la información */
  text-align: center;
}

.profile-info p {
  color: #6c757d;
  font-size: 16px;
}

/* Nombre en negrita encima del correo */
.profile-info .name {
  font-weight: bold;
  font-size: 18px; /* Ajuste de tamaño */
  margin-bottom: 10px;
}

/* Enlaces de redes sociales */
.profile-footer {
  display: flex;
  justify-content: center;
  gap: 50px; /* Más espacio entre enlaces */
  padding: 20px;
  background-color: #f8f9fa;
}

.profile-footer a {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}

.profile-footer a:hover {
  text-decoration: underline;
}

/* Etiqueta para cambiar la imagen */
.form-label {
  font-size: 16px;
}
